/* =====  Base - Load First  ===== */
@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./base/typography.css");

@import url("./components/fontawesome.css");

/* =====  Layout Styles  ===== */
@import url("./layout/footer.css");

@import url("./layout/header.css");

@import url('./components/buttons.css');

/* @import url('./pages/product.css');

@import url('./components/forms.css');

@import url('./pages/about.css'); */
