/* =====  Base - Load First  ===== */
@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./base/typography.css");

@import url("./components/fontawesome.css");

/* =====  Layout Styles  ===== */
@import url("./layout/footer.css");

@import url("./layout/header.css");

<<<<<<< HEAD
@import url("/css/pages/index.css");
=======
@import url('./components/buttons.css');
>>>>>>> origin/main
