 <!-- Header -->
 <header class="header">
    <div class="header__top-bar">
      <div class="container">
        <div class="header__top-left">
          <span class="hotline-btn">Hotline 24/7</span>
          <strong>(025) 3886 25 16</strong>
        </div>
          <div class="header__top-right">
            <a href="#">Sell on Swoo</a>
            <a href="#">Order Tracking</a>
              <div class="header__selectors">
                        <select class="top-select">
                        <option>USD</option>
                        <option>Egy</option>
                        </select>
                        <span class="separator"></span>
                        <div class="language-picker">
                            <img src="../../assets/images/language/eng.ico" alt="English" class="flag-icon">
                            <select class="top-select">
                            <option>Eng</option>
                            <option>arab</option>
                            </select>
                        </div>
                </div>
          </div>
      </div>
    </div>
    <!-- header main -->
    <div class="header__main">
      <div class="container">
        
        <div class="header__logo">
          <img src="../../assets/images/logo/logo.svg" alt="Swoo Logo">
          <div class="logo-text">
            <strong>SWOO</strong>
            <span>TECH MART</span>
          </div>
        </div>

        <nav class="header__nav">
          <div class="header__nav-container">
            
            <div class="nav-item">
              <select class="top-select nav-dropdown">
                <option value="" disabled selected>Home</option>
                <option value="home-1">Modern </option>
                <option value="home-2">Classic </option>
              </select>
            </div>

            <div class="nav-item">
              <select class="top-select nav-dropdown">
                <option value="" disabled selected>Pages</option>
                <option value="about">About Us</option>
                <option value="faq">FAQ</option>
              </select>
            </div>

            <div class="nav-item">
              <select class="top-select nav-dropdown">
                <option value="" disabled selected>Products</option>
                <option value="electronics">Electronics</option>
                <option value="fashion">Fashion</option>
              </select>
            </div>

            <a href="contact.html" class="header__nav-link contact-link">Contact</a>
            
          </div>
        </nav>

        <div class="header__actions">
          <div class="action-icons">
            <div  class="icon-circle"><a href=""><img src="../../assets/images/icons/dark-theme.svg" alt="Compare"></a></div>
            <div class="icon-circle"><a href=""><img src="../../assets/images/icons/Wishlist.svg" alt="Wishlist"></a></div>
            <div class="icon-circle"><a href=""><img src="../../assets/images/icons/avatar-default.svg" alt="avatar"></a></div>
            
          </div>
          
          <div class="user-account">
            <span class="label">WELCOME</span>
            <strong class="value"><a href="">LOG IN </a> / <a href="">REGISTER</a></strong>
          </div>

          <div class="cart-section">
            <div class="cart-icon-wrapper">
            <a href=""><img src="../../assets/images/icons/cart.svg" alt="Cart"></a> 
              <span class="badge">5</span>
            </div>
            <div class="cart-text">
              <span class="label">CART</span>
              <strong class="value">$1,689.00</strong>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- header actions -->
  <div class="bottom-header">
    <div class="container bar-flex">
      <div class="search-category-wrapper">
        <select class="category-select">
        </select>
        <input class="search-input" type="text" placeholder="Search anything...">
        <button class="search-btn"><i class="fa fa-search"></i></button>
      </div>
      
      <div class="promo-texts">
        <span>FREE SHIPPING OVER $199</span>
        <span>30 DAYS MONEY BACK</span>
        <span>100% SECURE PAYMENT</span>
      </div>
    </div>
  </div>
</header>
  <!-- End header main -->


  <ul class="search-results"></ul>