<!-- Header -->
<header class="header">
  <div class="header__top-bar">
    <div class="header-container">
      <div class="header__top-left">
        <span class="hotline-btn">Hotline 24/7</span>
        <strong>(025) 3886 25 16</strong>
      </div>
      <div class="header__top-right">
        <a href="#">Sell on Swoo</a>
        <a href="#">Order Tracking</a>
        <div class="header__selectors">
          <select class="top-select">
            <option>USD</option>
            <option>Egy</option>
          </select>
          <span class="separator"></span>
          <div class="language-picker">
            <img
              src="../../assets/images/language/eng.ico"
              alt="English"
              class="flag-icon"
            />
            <select class="top-select">
              <option>Eng</option>
              <option>arab</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header main -->
  <div class="header__main">
    <div class="header-container">
      <div class="header__logo">
        <img src="../../assets/images/logo/logo.svg" alt="Swoo Logo" />
        <div class="logo-text">
          <strong>SWOO</strong>
          <span>TECH MART</span>
        </div>
      </div>

      <nav class="header__nav">
        <!-- <div class="header__nav-container">
          <div class="nav-item">
            <select class="top-select nav-dropdown">
              <option value="" disabled selected>Home</option>
              <option value="home-1">Modern</option>
              <option value="home-2">Classic</option>
            </select>
          </div>

          <div class="nav-item">
            <select class="top-select nav-dropdown">
              <option value="" disabled selected>Pages</option>
              <option value="about">About Us</option>
              <option value="faq">FAQ</option>
            </select>
          </div>

          <div class="nav-item">
            <select class="top-select nav-dropdown">
              <option value="" disabled selected>Products</option>
              <option value="electronics">Electronics</option>
              <option value="fashion">Fashion</option>
            </select>
          </div>

          <a href="#" class="header__nav-link contact-link">Contact</a>
        </div> -->

        <!-- change nav bar -->
        <ul>
          <li><a href="../../index.html" class="active">Home</a></li>
          <li><a href="page.html" class="">Pages</a></li>
          <li><a href="product.html" class="">About us</a></li>
          <li><a href="contact.html" class="">Contact</a></li>
        </ul>
      </nav>

      <div class="header__actions">
        <div class="action-icons">
          <div class="icon-circle">
            <a href=""><i class="fa-solid fa-circle-half-stroke"></i></a>
          </div>
          <div class="icon-circle">
            <a href=""><i class="fa-solid fa-heart"></i></a>
          </div>
          <div class="icon-circle user-icon-wrapper">
            <a class="user-icon" href="/pages/login.html">
              <i class="fa-solid fa-user"></i>
            </a>
          </div>
          <img class="user-image hidden" src="" alt="user-icon" />
        </div>

        <div class="user-wrapper">
          <div class="user-account" id="userAccount">
            <span class="welcome-label hidden">WELCOME</span>
            <strong class="user-name">
              <a href="/pages/login.html" >LOG IN</a> /
              <a href="/pages/register.html" >REGISTER</a>
            </strong>
          </div>

          <div class="profile-menu hidden">
            <ul>
              <li><a href="/pages/profile.html">My Profile</a></li>
              <li><button id="logoutBtn">Logout</button></li>
            </ul>
          </div>
        </div>

        <div class="cart-section">
          <div class="cart-icon-wrapper">
            <a href="/pages/cart.html"
              ><i class="fa-solid fa-cart-shopping"></i
              ><span class="cart-badge hidden">20</span></a
            >
          </div>

          <div class="cart-text">
            <span class="label">CART</span>
            <strong class="cart-amount">$0.00</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header actions -->
  <div class="bottom-header">
    <div class="header-container bar-flex">
      <div class="search-category-wrapper">
        <select class="category-select"></select>
        <input
          class="search-input"
          type="text"
          placeholder="Search in all categories..."
        />
        <button class="search-btn"><i class="fa fa-search"></i></button>

        <!-- Dropdown -->
        <div class="dropdown hidden">
          <div class="section keep-shopping">
            <h4>Keep shopping for all categories</h4>
          </div>

          <div class="section">
            <ul class="suggestions"></ul>
          </div>
        </div>
      </div>

      <div class="promo-texts">
        <span>FREE SHIPPING OVER $199</span>
        <span>30 DAYS MONEY BACK</span>
        <span>100% SECURE PAYMENT</span>
      </div>
    </div>
  </div>
</header>
<!-- End header main -->
