/* ===== CSS VARIABLES (DESIGN TOKENS) ===== */

:root {
  /* Primary Brand Color */
  --color-primary: #2bbf4b;
  --color-primary-hover: #24a940;

  /* Backgrounds */
  --color-bg: #ffffff;
  --color-bg-muted: #f5f6f8;
  --color-bg-soft: #f0f1f3;
  --color-bg-gray: #E2E4EB;
  /* Text Colors */
  --color-text: #222222;
  --color-text-strong: #000000;
  --color-text-muted: #777777;
  --color-text-light: #aaaaaa;
  /*Button*/
  --color-card-btn: var(--color-primary);
  --color-card-btn-hover: var(--color-primary-hover);
  --color-bucket-btn: #aaaaaa;
  --color-bucket-btn-hover: #2c3ec5;
  --color-buy-now-btn: #FF6200;
  --color-buy-now-btn-hover: #D14900;

  /* Borders */
  --color-border: #e0e0e0;

  /* Fonts */
  --font-main: "Inter", Arial, sans-serif;
  --font-heading: "Inter", Arial, sans-serif;
  /* --font-primary: 'Inter', -apple-system, sans-serif; */

  /* Font Sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;

  /* Spacing (8px system) */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 40px;
  --space-2xl: 48px;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 10px;
  --radius-xl: 15px;
  --radius-xxl: 20px;

  /* Transitions */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
}

/* Regular / Variable weight */
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* supports all weights */
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
