.product__path
{
    background-color: var(--color-bg);
    padding: 1vh 1vw;
    margin: 2vh 1vw;
    border-radius: 10px;
}

.product__path a {
    transition: 0.3s;
}

.product__path a:hover
{
    text-decoration: underline;
}
.page {
    max-width: 1400px;
    margin: 0 auto var(--space-lg) auto;
    padding: var(--space-lg) 24px;
    background-color: var(--color-bg-muted);
    font-family: var(--font-main);
    border-radius: var(--radius-xxl);
}
.product__title {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--color-text);
    letter-spacing: 0.5px;
}
.banners {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 24px;
    padding: 24px 24px 24px 0;;
}

.banner {
    position: relative;
    height: 300px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.second-banner .banner-content {
    position: absolute;
    inset: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
}

.second-banner .banner-content h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 8px;
    color: #000;

}

.second-banner .banner-content p {
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
}

.second-banner .banner-content a {
    align-self: flex-end;
    position: absolute;
    top: 10%;
    width: fit-content;
    padding: 12px 28px;
    background: #000;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}
.second-banner .banner-content a:hover {
    background-color: #2a2a2a;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
